@import "./../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./home.scss";
@font-face {
  font-family: CircularStdBook;
  src: url(./../assets/fonts/CircularStdBook.ttf);
}
body{
  font-family: CircularStdBook;
  //background: rgb(51,11,253);
  //background: linear-gradient(185deg, rgba(51,11,253,1) 18%, rgba(178,43,250,1) 100%);
  color: #111;
}
